<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207207298320-q9pk41jj475v4oc90h9hfc5dtvqjgsml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207207298320-q9pk41jj475v4oc90h9hfc5dtvqjgsml</string>
	<key>API_KEY</key>
	<string>AIzaSyBu4dN5RvKTkpE9Kgegd62Zg4kSMgDQLEU</string>
	<key>GCM_SENDER_ID</key>
	<string>207207298320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avenue.FirebaseDB</string>
	<key>PROJECT_ID</key>
	<string>furniture-e0501</string>
	<key>STORAGE_BUCKET</key>
	<string>furniture-e0501.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207207298320:ios:a954eb9fa3ec28f2392195</string>
	<key>DATABASE_URL</key>
	<string>https://furniture-e0501.firebaseio.com</string>
</dict>
</plist>